# Arquivos de entrada e saída de PDFs
src/data/input/
src/data/output/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo

# Arquivos de ambiente virtual
.venv/
env/
venv/

# Arquivos de log
*.log

# Arquivos da IDEs
.vscode/
.idea/

# Arquivos de Scripts
.scripts/
