# Arquivos de entrada e saída de PDFs
*.pdf

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo

# Arquivos de ambiente virtual
.venv/
env/
venv/

# Arquivos de log
*.log

# Arquivos da IDEs
.vscode/
.idea/
